@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    font-family:'Roboto', sans-serif;
    color:white;
    height:fit-content;
}

/* error notification text if user exists*/
.errorNotification{
    display: none;
    color : rgb(255, 30, 30);
    background-color: rgba(255, 30, 30, 0.3);
    border-radius: 0.5rem; 
    border:rgb(255, 90, 90) 1px solid;
    text-align: center;
    width: fit-content;
    padding: 0.5rem;
    margin: 0.5rem auto;
}

.successNotification{
    display: none;
    color : rgb(30, 255, 30);
    background-color: rgba(30, 255, 30, 0.3);
    border-radius: 0.5rem; 
    border:rgb(90, 255, 90) 1px solid;
    text-align: center;
    width: fit-content;
    padding: 0.5rem;
    margin: 0.5rem auto;
}

.successNotification a{
    color: rgb(60, 255, 60);
}


/* submit buttons */
#buttonsubmit {
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: white;
  color: #333;
  margin-top: 1rem;
  width : 100%;
  font-weight: 500;
  }

#buttonsubmit:hover {
    background-color: #555555;
     color: white;
     
    }
/* Register */
#username, #password, #email {
    color:#333;
}

object {
    height: fit-content;
}

body {
    height: 100%;
    width: 100%; 
    background-color: #000;
}

.separate-box {
    margin-top: 2%;
}
/* Frontpage */
.subject {
    transition: background-color 0.7s ease;
    background-color: grey;
    margin: 0px;
    overflow: auto;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.9375rem;
    border-radius: 0.625rem;
}

.subject:hover {
    transition: background-color 0.7s ease;
    background-color: rgb(35, 35, 35);
}

.subject li {
    display: block;
    list-style: none;
    float: left;
    padding: 0.125rem;
}

.subjectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subjectContainer img {
    border-radius: 6.25rem;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1rem;
}
.container-left-column {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}
.container-center-column{
    margin-left:1.5rem;
    margin-top: 1rem;
}

.container-right-column {
    text-align-last: right;
} 
.link{
    text-decoration: none;
}
 
.form {
    width: 20rem;
    margin: 10rem auto; 
    background-color: #333;
    padding: 2rem;
    border-radius: 5%;
}

.inputs {
    display:flex;
    flex-direction: column;
    margin: 0.625rem 0;
}

.inputs input{
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    border : 0;
}

.h3{
    margin-top: 0;
    color: #fff;
}

@media screen and (max-width: 600px) {
    * {
        font-size: 0.85rem;
    }
    #navbar li a{
        font-size: 0.75rem;
    }
}

.tag-cloud {
    display: flex;
    flex-wrap: wrap;
}

.tag-cloud .tag {
    font-size: 16px;
    margin: 0 5px 5px 0;
}

.tag-cloud .tag.small {
    font-size: 12px;
}

.tag-cloud .tag.medium {
    font-size: 14px;
}

.tag-cloud .tag.large {
    font-size: 16px;
}

.tag-cloud .tag.xlarge {
    font-size: 18px;
}

.datedropdown {
    color:black
}