/* User Profile Page */ 
 
.card {
    width: 350px;
    background:  rgb(83, 83, 83);
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(44, 43, 43, 0.7);
    user-select: none;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 7rem;
    box-sizing: border-box;
}
.card p , h3 {
    text-align: center;
}

.profile {
    position: absolute;
    width: 120px;
    bottom: -60px;
    left: 15px;
    border-radius: 50%;
    border: 2px solid #222;
    background: #222;
    padding: 5px;
}

.button {
    color:black;
}



