* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .img{
    display: block;
} */
.buttonName {
  text-align: center;
  
}
body {
  max-width: 100%;
  max-height: 100%;
  background: #ffffff;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,10,1) 51%, rgba(11,198,15,1) 100%); 
}

.img {
  border-radius: 120px;
  border: 2px solid #000000;
  padding: 0px;

}
.text{
    visibility: visible;
 }
 /* .popButt:hover + .text{
    visibility: visible;
 } */
 /* .container:active .text {
    visibility: visible;
 } */
 
 #test:checked , .text{
    visibility: hidden;
 }

  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;;
    margin: 80px 0;
    -webkit-text-stroke: 2px black;
  }
  
  .box {
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    visibility:hidden
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #06D85F;
  }

  .button:hover{
    opacity: 0.6;
  }
  .container{
    display: inline-grid;
    /* grid-auto-rows: auto; */
    grid-template-columns: auto ;
    width: 240px;
    height: 280px;
    padding-left: 3%; 
    margin: 10px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: 500ms ease-in-out;
    background: rgb(57,232,10);
background: linear-gradient(90deg, rgba(57,232,10,1) 0%, rgba(9,121,10,1) 65%, rgba(2,0,36,1) 100%);
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  @media screen and (max-width: 2000px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }