<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/error.css" />
    <title>The Bored Board</title>
</head>

<body>
    <div class="boxes">
        <div class="box">
            <h2>Oops... Something went wrong :(
                <h2 />
                <h2>{{ .Data }}</h2>
                <h2><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Report the problem here</a></h2>
        </div>
        <a href="/">
            <div class="home">
                <h2>Go back home</h2>
            </div>
        </a>
    </div>
</body>

</html>